/* ----------------------- 

TABLE OF CONTENTS

# GLOBAL
    # DEFINE GLOBAL VARIABLES (CUSTOM PROPERTIES)
    # SET GLOBAL COLORS
    # SET GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA (images, videos, svg)
    # GLOBAL HELPERS
    # GLOBAL RESETS
    ...

# LAYOUT
    # CONTAINER
    # GRID SYSTEM (12 COLUMNS)

# UI COMPONENTS
    # CARDS
    # HR (HORIZONTAL RULES)

    (WILL ADD MORE HERE)

-------------------------*/

/* --------------------- 
        GLOBALS 
------------------------ */

/* DEFINE GLOBAL VARIABLE */

:root {

    /* DEFINE BASE COLORS */
    
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-80: rgb(0,0,0,.8);

    --color-grey-200: rgb(0,0,0,.2);

    --color-blue-100: #ccdffc;
    --color-blue-400: #3b82f6;
    --color-blue-900: #1e40af;

    --color-green-100: #d1fae5;
    --color-green-400: #22c55e;
    --color-green-400: #166534;

    /* DEFINE SEMANTIC COLORS */
    --color-body-background: var(--color-white);
    --color-body-text: var(--color-black-80);
    --color-body-text-dark: var(--color-black);

    --color-primary: var(--color-blue-400);
    --color-primary-dark: var(--color-blue-900);
    --color-secondary: var(--color-green-400);

    /* BORDER */
    --color-border: var(--color-grey-200);
    --border-radius: 5px;
    --border-thickness: 0.5px;

    /* SIZING UNITS */
    --unit-2xs: 0.25em;
    --unit-xs: 0.5em;
    --unit-s: 1em;
    --unit-l: 2em;
    --unit-xl: 3em;
    --unit-2xl: 4em;
    --unit-3xl: 6em;

    --container-width: 1100px;

    /* GLOBAL FONTS */
    --font-body: system-ui, Helvetica, Arial, sans-serif;
    --font-headings: Georgia, Times, "Times New Roman", serif;
}

/* SET GLOBAL TYPOGRAPHY */
body {
    font-family: var(--font-body);
    background-color: var(--color-body-background);
    color: var(--color-body-text);
}

/* HEADINGS */
h1, h2, h3 {
    font-family: var(--font-headings);
    color: var(--color-body-text-dark);
}

/* GLOBAL MEDIA */

/* IMAGES */
/* responsive on small screens, do not stretch (beyond the original on large screens) */
img {
    max-width: 100%;
    height: auto;
}

/* GLOBAL HELPERS */
.text-centered {
    text-align: center;
}

/* Remove the default 8px margin on body */
body {
    margin: 0;
}

/* GLOBAL RESETS */
/* Set all elements to bix sizing border-box */
* { box-sizing: border-box;}

/* LINKS */
a {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary-dark);
    text-underline-offset: .1em;
    text-decoration-thickness: 0.75px;
}

a:hover {
    color: var(--color-primary-dark);
}


/* ------------------------- 
        LAYOUT
---------------------------- */

/* CONTAINER */
.container {
    max-width: var(--container-width);
    margin-inline: auto;
}

/* GRID SYSTEM (12 COLUMNS) */

.row {
    --grid-gap: var(--unit-s);
}

.row > * {
    margin-block-end: var(--grid-gap);
}

@media (min-width: 768px) {

    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--grid-gap);
    }

    .one-half { grid-column: auto / span 6; }
    .one-third { grid-column: auto / span 4; }
    .one-fourth { grid-column: auto / span 3; }        
}

/* FOR DEMO PURPOSES ONLY */
.row.demo > * {
    background-color: #eee;
    text-align: center;
    padding: var(--unit-s);
}




/* ------------------------- 
        UI COMPONENTS 
---------------------------- */

/* CARDS */
.cards {
    border: var(--border-thickness) solid var(--color-border);
    display: inline-block;
    margin-right: var(--unit-xs);
    padding: var(--unit-s);
    border-radius: var(--border-radius);
}

.color-swatch {
    --swatch-color: grey;
    background-color: var(--_swatch-color);
    width: 150px;
    height: 150px;
}

/* HR */
hr {
    border: none;
    border-bottom: var(--border-thickness) solid var(--color-border);
    margin: var(--unit-xl) 0;
}
